body {
    background-image: url('blue archive wall2.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-position: center top;
    font-family: Helvetica;
    display: flex;
}

.todo-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    width: 50%;
    padding: 25px;
    border-radius: 15px;
    font-weight: 250;
    align-items: center;
    
}

.todo-wrapper h2 {
    margin: 0;
}

.todo-wrapper p {
    font-style: italic;
    color: gray;
    margin: 5px 0 15px 0;
}

.todo-wrapper ol {
    margin: 0 0 20px 0;
    border: solid 1px gray;
    border-radius: 15px;
}

.todo-wrapper ol li {
    margin: 5px 0 0 0;
    padding: 3px;
    transition: all 0.5s ease-out;
}

.todo-wrapper form {
    display: flex; 
    align-items: center;
    gap: 10px; 
    width: 100%; 
}

.todo-wrapper input {
    flex: 1; 
    padding: 5px 8px;
    border: solid 2px gray;
    border-radius: 15px;
    width: 100%; 
    font-size: 14px;
}

.todo-wrapper .pretty-button {
    flex-shrink: 0; 
    padding: 8px 15px;
    border-radius: 15px;
    background-color: rgb(138, 120, 154);
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap; 
}


.todo-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.pretty-button-bawah {
    border: 2px solid gray; 
    background-color: white;
    color: gray;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: all 0.3s ease;
    margin: 0 40px 0 0;
}
